
<form [formGroup]="myForm" (ngSubmit)="handleChange()">
    <div>
        <label >
            First Name:
        </label>
        <input type="text" name="fname" formControlName="fname"/>
    </div>
    <div>
        <label >
            Last Name:
        </label>
        <input type="text" name="lname" formControlName="lname"/>
    </div>
    <div>
        <label >
            Email:
        </label>
        <input type="email" name="email" formControlName="email"/>
    </div>
    <div>
        <label >
          Password:
        </label>
        <input type="password" name="password" formControlName="password"/>
    </div>
    <button [disabled]="myForm.invalid">Submit</button>
</form>